name: final-run

on:
  workflow_dispatch

jobs:
  run-job:
    runs-on: ubuntu-latest
    container:
      image: bertcarnell/r-bracketr

    name: ${{ matrix.config.name }}

    strategy:
      fail-fast: false
      matrix:
        config:
          - {name: 'Xmax', filename: 'run_xmax'}
          - {name: 'Ymax', filename: 'run_ymax'}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Do Work
        run: |
          Rscript -e 'write.csv(data.frame(x=1), file = "${{ matrix.config.name }}.csv"'
        shell: bash
        
      - name: Run
        run: |
          echo "running ${{ matrix.config.name }}"
        shell: bash
        
      - name: Upload
        uses: actions/upload-artifact@v2.2.3
        with:
          path: ${{ matrix.config.name }}.csv
        
  collect-job:
    needs: run-job
    runs-on: ubuntu-latest
    name: Collect Artifacts
    steps:
      - name: Download
        uses: actions/download-artifact@v2
      - name: display files
        run: ls -alh
